{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('js/jquery-ui/jquery-ui.min.css') }}"
{% endblock %}
{% block body %}
    <h1>Billetterie du Louvre</h1>
    {{ form_start(form) }}
        {{ form_row(form.ticketNumber) }}
        {{ form_row(form.mail) }}
        <input type="submit" value="Valider">
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui/jquery.ui.datepicker-fr.js') }}"></script>
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}