{% extends 'base.html.twig' %}
{% block body %}
    <h1>Billetterie du Louvre</h1>
    {{ form_start(form) }}
        {{ form_row(form.visitDay) }}
        {{ form_row(form.ticketNumber) }}
        {{ form_row(form.ticketType) }}
        {{ form_row(form.mail) }}
        <input type="submit" value="Valider">
    {{ form_end(form) }}

{% endblock %}